@import '_0-tools/mixins'
@import '_0-tools/grid'
@import url('//fonts.googleapis.com/css?family=Work+Sans:200,300,400,700,900')

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background-color: $white
	font-family: 'Work Sans', sans-serif
	color: $text

/*==================== Buttom ====================*/
.btn
	text-transform: uppercase
	text-decoration: none
	padding: 1rem 2rem
	background-color: $text
	color: $white
	display: inline-block
	border-radius: .2em
	margin-top: .5em
	margin-right: 1rem

	&:last-child
		margin-right: 0

/*==================== Navigation Items ====================*/
.nav-item
	display: inline-block
	margin-top: .5em
	margin-right: 1rem

/*==================== Subtitle ====================*/
.sub-title
	text-transform: capitalize
	font-size: 2.2em
	font-weight: 300
	text-align: center
	margin: 4rem auto

	&:after
		content: ''
		display: block
		margin: .5em auto
		width: 20%
		height: 2px
		background-color: $blue

/*==================== Razor (Skew) Divs ====================*/
.skewY,
.skewB
	content: ''
	position: absolute
	width: 200vw
	height: 50vh
	z-index: -1

.skewY
	top: -5%
	left: -25%
	right: 0
	bottom: 0
	background-color: transparentize($yellow, .3)
	transform-origin: left
	transform: rotate(9deg)

.skewB
	top: 50%
	right: 0
	left: -25%
	bottom: 0
	background-color: transparentize($blue, .3)
	transform-origin: right
	transform: rotate(-9deg)

/*==================== Background Image Animations ====================*/
.img-wrap
	width: 100%
	height: 100vh
	position: absolute

	img
		width: 150%
		margin: 0 auto
		position: absolute
		top: -25%
		left: -25%
		right: 0
		bottom: 0
		opacity: 0
		z-index: -1

/*==================== Section Header ====================*/
.main-header
	width: 100%
	height: 100vh
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../img/bg.jpg')
		size: cover
		repeat: no-repeat
		position: center top
	overflow: hidden

	.page-lead
		margin-top: 12.5vh
		color: $white

		.page-title
			font-size: 6em
			font-weight: 700
			text-transform: uppercase

		.slogan
			font-weight: 300

			&:after
				content: ''
				display: block
				width: 100%
				height: 1px
				background-color: lighten($text, 20)
				margin: .5em auto

		#contact
			@include blueGradient

		#service
			@include redGradient

/*==================== Navbar ====================*/
.navbar
	background: $dark
	width: 100%
	min-height: 64px
	padding-top: 1rem
	box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .6)

	ul
		list-style-type: none

	a
		font-weight: 700
		font-size: 1.2em
		text-decoration: none
		color: $white
		display: inline-block
		width: 100%
		height: 100%

/*==================== Cards ====================*/
.card
	width: 100%
	margin: 1rem auto
	cursor: pointer

	figure
		position: relative
		width: 100%
		box-shadow: 0 .4em 2px rgba(0, 0, 0, 0.4)
		z-index: 10
		transition: all .2s ease

		&:hover
			box-shadow: 0 1em 12px rgba(0, 0, 0, 0.3)
			transform: scale(1.05)
			z-index: 99

			.card-title
				&:after
					background-color: $blue

		img
			width: 100%

		figcaption
			position: absolute
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 40%
			background-color: $card-w
			padding: 1em

	.card-title
		text-transform: uppercase
		font-weight: 700
		font-size: 1.2em

		&:after
			content: ''
			display: block
			width: 100%
			height: 2px
			margin: .2em auto
			background-color: #cdcdcd
			transition: all .2s ease

	.card-desc
		width: 90%
		margin: .4em auto
		font-weight: 300
		text-transform: lowercase

/*==================== Section About ====================*/
.section-about
	min-height: 70vh
	padding: 4em 0
	background: $bg-light

	.about
		font-weight: 300
		font-size: 1.4em
		text-align: center
		color: darken($text-light, 40)

		p:not(first-child)
			margin-top: 2rem

/*==================== Section Service ====================*/
.section-service
	background: linear-gradient(rgba($white, .8), rgba($white, .8))
	overflow: hidden
	position: relative
	padding: 4rem 0

/*==================== Section Contact ====================*/
.section-contactos
	min-height: 100vh
	position: relative
	overflow: hidden
    
	.input
		position: relative
		margin-bottom: 2rem

	form
		margin-top: 10%

	.bar
		position: relative
		width: 100%
		display: block

		&:before, &:after
			content: ''
			height: 2px
			width: 0
			bottom: 1px
			position: absolute
			background: $blue
			transition: all .2s ease

		&:before
			left: 50%

		&:after
			right: 50%

	.highlight
		position: absolute
		height: 60%
		width: 100%
		top: 25%
		left: 0
		pointer-events: none
		opacity: .5

	label
		color: $text
		font-size: 18px
		font-weight: 300
		position: absolute
		pointer-events: none
		left: .5em
		top: 5px
		transition: all .2s ease

	input[type=text],
	input[type=email],
	textarea
		display: block
		width: 100%
		border: none
		padding: 1em 0
		border-bottom: 1px solid $text-light

		&:focus
			outline: none

			~ label
				top: -20px
				font-size: 14px
				color: $blue

			~ .bar
				&:before, &:after
					width: 50%

			~ .highlight
				animation: inputHighlighter .3s ease

	textarea
		resize: none
		height: 11.6em

	input[type=reset],
	input[type=submit]
		width: 80%
		margin: 1rem auto
		border: none
		border-radius: 4px
		padding: 1em
		color: $white
		font-size: 1.1em

	input[type=reset]
		@include redGradient

	input[type=submit]
		@include blueGradient

/*==================== Footer ====================*/
.footer
	background: $dark
	color: $white
	min-height: 20vh

	.footer-tag
		text-transform: uppercase
		font-weight: 700
		padding: 2rem 0

	.footer-link
		text-decoration: none
		text-transform: capitalize
		color: $white