@import '_0-tools/mixins'
@import '_0-tools/grid'
@import url('//fonts.googleapis.com/css?family=Work+Sans:200,300,400,700,900')

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background-color: $white
	font-family: 'Work Sans', sans-serif
	color: $text
.btn
	text-transform: uppercase
	text-decoration: none
	padding: 1rem 2rem
	background-color: $text
	color: $white
	display: inline-block
	border-radius: .2em
	margin-top: .5em
	margin-right: 1rem

	&:last-child
		margin-right: 0

.sub-title
	text-transform: capitalize
	font-size: 2.2em
	font-weight: 300
	text-align: center
	margin: 4rem auto

	&:after
		content: ''
		display: block
		margin: .5em auto
		width: 20%
		height: 2px
		background-color: $blue

.skew
	content: ''
	display: block
	position: absolute
	top: 0
	left: -25%
	right: 0
	bottom: 0
	width: 200vw
	height: 50vh
	background-color: transparentize($yellow, .3)
	transform-origin: left
	transform: rotate(15deg)

.main-header
	width: 100%
	height: 100vh
	background: linear-gradient(rgba($yellow, .8), rgba($yellow, .8)), url('/img/bg.jpg')
		size: cover
		repeat: no-repeat
		position: center
		blend-mode: hard-light

	.page-lead
		margin-top: 50%

		.page-title
			font-size: 6em
			font-weight: 700
			text-transform: uppercase

		.slogan
			font-weight: 300

			&:after
				content: ''
				display: block
				width: 100%
				height: 1px
				background-color: lighten($text, 20)
				margin: .5em auto

		#contact
			background: linear-gradient(75deg, $blue, lighten($blue, 10))

		#service
			background: linear-gradient(75deg, $red, $yellow-dark)

.navbar
	background: $dark
	width: 100%
	min-height: 64px
	padding-top: 1rem
	box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .6)

	ul
		list-style-type: none

	a
		font-weight: 700
		font-size: 1.2em
		text-decoration: none
		color: $white
		display: inline-block
		width: 100%
		height: 100%

.card
	width: 100%
	margin: 1rem auto
	cursor: pointer

	figure
		position: relative
		width: 100%
		box-shadow: 0 .4em 2px rgba(0, 0, 0, 0.4)
		z-index: 10
		transition: all .2s ease

		&:hover
			box-shadow: 0 1em 12px rgba(0, 0, 0, 0.3)
			transform: scale(1.1)
			z-index: 99

			.card-title
				&:after
					background-color: $blue

		img
			width: 100%

		figcaption
			position: absolute
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 40%
			background-color: $card-w
			padding: 1em

	.card-title
		text-transform: uppercase
		font-weight: 700
		font-size: 1.2em

		&:after
			content: ''
			display: block
			width: 100%
			height: 2px
			margin: .2em auto
			background-color: #cdcdcd
			transition: all .2s ease

	.card-desc
		width: 90%
		margin: .4em auto
		font-weight: 300
		text-transform: lowercase

.section-service
	background: $white
		blend-mode: luminosity
	overflow: hidden
	position: relative

/*==================== Section Contact ====================*/
.section-contactos
	min-height: 100vh
	position: relative
	overflow: hidden
    
	.input
		position: relative
		margin-bottom: 2rem

	form
		margin-top: 10%

	.bar
		position: relative
		width: 100%
		display: block

		&:before, &:after
			content: ''
			height: 2px
			width: 0
			bottom: 1px
			position: absolute
			background: $blue
			transition: all .2s ease

		&:before
			left: 50%

		&:after
			right: 50%

	.highlight
		position: absolute
		height: 60%
		width: 100%
		top: 25%
		left: 0
		pointer-events: none
		opacity: .5

	label
		color: $text
		font-size: 18px
		font-weight: 300
		position: absolute
		pointer-events: none
		left: .5em
		top: 5px
		transition: all .2s ease

	input[type=text],
	input[type=email],
	textarea
		display: block
		width: 100%
		border: none
		padding: 1em 0
		border-bottom: 1px solid #757575

		&:focus
			outline: none

			~ label
				top: -20px
				font-size: 14px
				color: $blue

			~ .bar
				&:before, &:after
					width: 50%

			~ .highlight
				animation: inputHighlighter .3s ease

	textarea
		resize: none
		height: 11.6em

	input[type=reset],
	input[type=submit]
		width: 80%
		margin: 1rem auto
		border: none
		border-radius: 4px
		padding: 1em
		color: $white

	input[type=reset]
		@include yellowGradient
		color: $text !important

	input[type=submit]
		@include blueGradient