section.section-about
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h3.sub-title nosotros
				
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.about
					p Nuestro compromiso es la calidad en todos los niveles, no solo en nuestros productos, materiales e instalaciones, sino también en la interacción con nuestros clientes, proveedores, socios y personal.
					p Buscamos poder ayudar a que nuestros clientes solucionen las distintas situaciones que se presentan día a día en cada proyecto, ofreciendo la solución ideal mediante el estudio detallado de cada caso. Esta manera de pensar nos ha convertido en una empresa eficaz y altamente capacitada.