footer.footer
	.container
		.row.center-sm.center-md.center-lg.middle-sm.middle-md.middle-lg
			.col-xs-12.col-sm-4.col-md-4.col-lg-4
				h3.footer-tag la empresa
				a(href="#").footer-link Mision y vision

			.col-xs-12.col-sm-4.col-md-4.col-lg-4
				h3.footer-tag contactos
				a(href="#").footer-link contactos

			.col-xs-12.col-sm-4.col-md-4.col-lg-4
				h3.footer-tag footer