footer.footer
	.container
		.row.center-sm.center-md.center-lg.top-sm.top-md.top-lg

			.col-xs-12.col-sm-4.col-md-4.col-lg-4
				.footer-cont
					h3.footer-tag la empresa
					a.footer-link(href="nosotros.html") Mision y vision

			.col-xs-12.col-sm-4.col-md-4.col-lg-4
				.footer-cont
					h3.footer-tag Ubicacion
					p C/ Pedro de Barronte No. 1 Parque Industrial La Nueva Isabela, Santo Domingo Este, República Dominicana, República Dominicana

			.col-xs-12.col-sm-4.col-md-4.col-lg-4
				.footer-cont
					h3.footer-tag contactos
					a.footer-link(href="cel:809-236-3438") 809-236-3438
					a.footer-link(href="cel:829-271-2463") 829-271-2463
	p diseño
		a(href="//clicnovo.com") Clicnovo &copy;