header.main-header
	//- Include Navigation bar and responsive menu
	include navbar.pug
	include menu.pug

	//- Header content
	.container
		.row.center-sm.center-md.center-lg.middle-sm.middle-md.middle-lg
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				.page-lead
					h1.page-title Inareca
					p.slogan INARECA, SRL. INGENIERIA DE AISLAMIENTOS TERMICOS Y ACUSTICOS
					.nav-item
						a.btn#contact(href="#contactos") Contactos
					.nav-item
						a.btn#service(href="#servicios") Servicios