doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Inareca | Expertos en aislamientos
		meta(name="description", content="")
		link(rel="icon", href="img/favicon.png" type="image/png")
		meta(name="author", content="Alejandro H Tadino M - Clicnovo")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='css/styles.min.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		
		//- Mixins ----------------------------------------
		include mixin.pug
		
		//- Main Content ----------------------------------------
		block body
			
		//- Main Footer ----------------------------------------
		include footer.pug
			
		//- Scripts ----------------------------------------
		script.
			window.jQuery || document.write('<script src="jquery.js">\x3C/script>');
		script(src="js/functions.min.js")