.menu-btn
	span.dot
	span.dot
	span.dot
.menu
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				a(href="#home") inicio

			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				a(href="#servicios") servicios

			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				a(href="#contactos") contactos