nav.navbar
	.container
		.row.middle-sm.middle-md.middle-lg
			.col-xs-12.col-sm-2.col-md-2.col-lg-2
				h1.brand.nav-item
					a(href="#home")
						img(src="img/brand-s.png", alt="Inareca")

			.col-xs-12.col-sm-10.col-md-10.col-lg-10
				ul.row.end-sm.end-md.end-lg.middle-sm.middle-md.middle-lg
					li.col-sm-3.col-md-3.col-lg-3.nav-item
						a(href="#servicios") servicios
					li.col-sm-3.col-md-3.col-lg-3.nav-item
						a(href="#contactos") contactos