section.section-service#servicios
	.img-wrap
		img.img-bg(src="")

	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h2.sub-title nuestros servicios

	.container
		.row

			+Cards('Cámara Frigorífica', 'cámara frigorífica para baja temperatura', 'img/cards/card-1-thumb.jpg', 'img/cards/card-1.jpg')

			+Cards('Proyección de poliuretano', 'proyección de poliuretano para techo de laboratorio', 'img/cards/card-2-thumb.jpg', 'img/cards/card-2.jpg')

			+Cards('Proyección de poliuretano', 'proyección de poliuretano para techo residencial', 'img/cards/card-3-thumb.jpg', 'img/cards/card-3.jpg')

	.container
		.row
			+Cards('Cuarto acústico', 'cuarto acústico para generadora eléctrica', 'img/cards/card-4-thumb.jpg', 'img/cards/card-4.jpg')

			+Cards('Aislamiento y enchaquetado', 'aislamiento térmico y chaquetas de acero inoxidable', 'img/cards/card-5-thumb.jpg', 'img/cards/card-5.jpg')

			+Cards('Ventanas acusticas', 'ventanas acusticas para cuarto de generadora eléctrica', 'img/cards/card-6-thumb.jpg', 'img/cards/card-6.jpg')