section.section-service#servicios
	.img-wrap
		img.img-bg(src="")

	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h2.sub-title nuestros servicios

	.container
		.row

			+Cards('Camara Frigorifica', 'camara frigorifica para baja temperatura', 'img/cards/card-1-thumb.jpg', 'img/cards/card-1.jpg')

			+Cards('proyeccion de poliuretano', 'proyeccion de poliuretano para techo de laboratorio', 'img/cards/card-2-thumb.jpg', 'img/cards/card-2.jpg')

			+Cards('proyeccion de poliuretano', 'proyeccion de poliuretano para techo residencial', 'img/cards/card-3-thumb.jpg', 'img/cards/card-3.jpg')

	.container
		.row
			+Cards('Cuarto acustico', 'cuarto acustico para generadora electrica', 'img/cards/card-4-thumb.jpg', 'img/cards/card-4.jpg')

			+Cards('aislamiento y enchaquetado', 'aislamiento termico y chaquetas de acero inoxidable', 'img/cards/card-5-thumb.jpg', 'img/cards/card-5.jpg')

			+Cards('ventanas acusticas', 'ventanas acusticas para cuarto de generadora electrica', 'img/cards/card-6-thumb.jpg', 'img/cards/card-6.jpg')