extends _0-includes/layout.pug
block body

	//- Include Navigation bar and responsive menu
	include _0-includes/navbar.pug
	include _0-includes/menu.pug

	section.section-us
		.skewB
		.container
			h2.sub-title nosotros
			.us-content
				.row.center-sm.center-md.center-lg.top-sm.top-md.top-lg
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						
						.us-inner
							h2.about-sub vision
							p <span class="us-tag">vision:</span>  La Visión es reforzar el liderazgo de nuestra empresa en los mercados que participamos siendo un grupo de servicios en continuo crecimiento de aislamientos, térmicos, refractarios y montajes industriales, con presencia multinacional, que se distinga por proporcionar una calidad de servicio excelente a sus clientes, seguir desarrollando nuevos productos acordes a​​ los estándares de clase mundial a través de pilares fundamentales de competitividad como Innovación, Eficiencia y Capacidad de Respuesta, una rentabilidad sostenida, una ampliación de oportunidades de desarrollo profesional y personal a sus empleados y una contribución positiva a la sociedad.

				.row.center-sm.center-md.center-lg.top-sm.top-md.top-lg
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						
						.us-inner
							h2.about-sub mision
							p <span class="us-tag">Mision:</span>  Que la Empresa siempre se encuentre en un nivel profesional para satisfacer plenamente las necesidades de nuestros clientes con calidad de clase mundial a través de la prestación de productos y servicios de aislamientos térmicos, acústicos, refractarios y montajes industriales, laboramos con cualidades empresariales de alto contenido humano y profesional, consolidando nuestro desarrollo a través del crecimiento, la evolución y mejora continua, con apego a un estricto código de ética y seguridad.

					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						
						.us-inner
							h2.about-sub comromiso
							p <span class="us-tag">compromiso:</span>  Nuestro compromiso es la calidad en todos los niveles, no solo en nuestros productos,} materiales e instalaciones, sino también en la interacción con nuestros clientes, proveedores, socios y personal. Buscamos poder ayudar a que nuestros clientes solucionen las distintas situaciones que se presentan día a día en cada proyecto, ofreciendo la solución ideal mediante el estudio detallado de cada caso. Esta manera de pensar nos ha convertido en una empresa eficaz y altamente capacitada.