extends _0-includes/layout.pug
block body
	include _0-includes/navbar.pug

	section.section-service
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h2.sub-title nuestros servicios

			.row

					+Cards('Camara Frigorifica', 'camara frigorifica para baja temperatura', '//placehold.it/400x400', '//lorempixel.com/1920/1080/city/1')

					+Cards('proyeccion de poliuretano', 'proyeccion de poliuretano para techo de laboratorio', '//placehold.it/400x400', '//lorempixel.com/1920/1080/city/2')

					+Cards('proyeccion de poliuretano', 'proyeccion de poliuretano para techo residencial', '//placehold.it/400x400', '//lorempixel.com/1920/1080/city/3')

					+Cards('Cuarto acustico', 'cuarto acustico para generadora electrica', '//placehold.it/400x400', '//lorempixel.com/1920/1080/city/4')

					+Cards('aislamiento y enchaquetado', 'aislamiento termico y chaquetas de acero inoxidable', '//placehold.it/400x400', '//lorempixel.com/1920/1080/city/5')

					+Cards('ventanas acusticas', 'ventanas acusticas para cuarto de generadora electrica', '//placehold.it/400x400', '//lorempixel.com/1920/1080/city/6')