$white: #FAFAFA
$bg-light: #e0e9ee
$text: #212121
$text-light: #C7CED7
$yellow: #F4C600
$card-w: #e9eff2
$blue: #3F82D3
$dark: #0B1021
$red: #BC203D
$yellow-dark: #D79B01

@keyframes inputHighlighter
    from
        background: $blue
    to
        width: 0
        background: transparent

@keyframes gradientAnimation
	from
		background: linear-gradient(75deg, $yellow 10%, lighten($yellow, 25))
	to
		background: linear-gradient(75deg, $yellow 100%, lighten($yellow, 25))

@mixin yellowGradient
	background: linear-gradient(75deg, $yellow, lighten($yellow, 25))

@mixin blueGradient
	background: linear-gradient(75deg, $blue, lighten($blue, 25))

@mixin redGradient
	background: linear-gradient(75deg, $red, lighten($red, 25))

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background-color: $white
	font-family: 'Work Sans', sans-serif
	color: $text

img
	max-width: 100%
	margin: 0 auto

/*==================== Buttom ====================*/
.btn
	text-transform: uppercase
	text-decoration: none
	padding: 1rem 2rem
	background-color: $text
	color: $white
	display: inline-block
	border-radius: .2em
	margin-top: .5em
	margin-right: 1rem

	&:last-child
		margin-right: 0

/*==================== Navigation Items ====================*/
.nav-item
	display: inline-block
	margin-top: .5em
	margin-right: 1rem

.menu
	display: none

/*==================== Subtitle ====================*/
.sub-title
	text-transform: capitalize
	font-size: 2.2em
	font-weight: 300
	text-align: center
	margin: 4rem auto
	color: darken($text-light, 50%)

	&:after
		content: ''
		display: block
		margin: .5em auto
		width: 10%
		height: 2px
		background-color: $blue

/*==================== Razor (Skew) Divs ====================*/
.skewY,
.skewB
	content: ''
	position: absolute
	width: 200vw
	height: 50vh
	z-index: -1

.skewY
	top: -5%
	left: -25%
	right: 0
	bottom: 0
	background-color: $yellow
	transform-origin: left
	transform: rotate(9deg)

.skewB
	top: 60%
	right: 0
	left: -25%
	bottom: 0
	background-color: $dark
	transform-origin: right
	transform: rotate(-6deg)
	box-shadow: 0 0 16px 6px rgba($dark, .6)

/*==================== Background Image Animations ====================*/
.img-wrap
	width: 150vw
	position: absolute
	top: 0
	left: -25%

	img
		width: 100vw
		margin: 0 auto
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		z-index: -1

.open
	left: 0 !important

.shadow
	box-shadow: 0 0 21px 3px rgba(250, 250, 250, .4)